<nav
  id="navbar"
  class="navbar navbar-expand-lg navbar-dark bg-dark fs-4 sticky-top"
>
  <div class="container-fluid">
    <a
      class="navbar-brand text-primary fs-3"
      routerLink="/home"
      (click)="scrollTo('home')"
      >Dvir Datner</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            id="home-nav"
            class="nav-link"
            [ngClass]="{ active: currentActive === 'home' }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('home')"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            id="projects-nav"
            class="nav-link"
            [ngClass]="{ active: currentActive === 'projects' }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('projects')"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            id="certificates-nav"
            class="nav-link"
            [ngClass]="{ active: currentActive === 'certificates' }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('certificates')"
            >Certificates</a
          >
        </li>
        <li class="nav-item">
          <a
            id="about-nav"
            class="nav-link"
            [ngClass]="{ active: currentActive === 'about' }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('about')"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            id="skills-nav"
            class="nav-link"
            [ngClass]="{ active: currentActive === 'skills' }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('skills')"
            >Skills</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            id="contact-nav"
            class="nav-link"
            [ngClass]="{ active: currentActive === 'contact' }"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('contact')"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            id="home-nav"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/home"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('home')"
            href="#home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            id="projects-nav"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/projects"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('projects')"
            href="#projects"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            id="certificates-nav"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/certificates"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('certificates')"
            href="#certificates"
            >Certificates</a
          >
        </li>
        <li class="nav-item">
          <a
            id="about-nav"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/about"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('about')"
            href="#about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            id="skills-nav"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/skills"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('skills')"
            href="#skills"
            >Skills</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            id="contact-nav"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/contact"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            (click)="scrollTo('contact')"
            href="#contact"
            >Contact</a
          >
        </li>
      </ul>
    </div> -->
  </div>
</nav>
