<div
  class="row justify-content-center my-3 my-sm-5 center"
  style="min-height: 100vh"
>
  <div class="col-11 col-sm-5">
    <h2 class="text-primary">About me</h2>
    <p>
      I have a B.Sc. in Computer Science with specialization in Web
      Development.<br />My greatest dream is to work on the most cutting edge
      technology in the field of Web Applications.
    </p>
  </div>
  <div class="col-11 col-sm-5">
    <h2 class="text-primary">My details</h2>
    <h5 class="text-primary mt-3">Name:</h5>
    <p>Dvir Datner</p>
    <h5 class="text-primary">Age:</h5>
    <p>28</p>
    <h5 class="text-primary">Location:</h5>
    <p>Azor, Israel</p>
    <h5 class="text-primary">Hobbies:</h5>
    <p>Programming, Cooking, TV series, Netflix :)</p>
  </div>
</div>
