<div class="row justify-content-center my-3">
  <div class="col-12 col-sm-5 text-center">
    <h2 class="text-primary">Contact</h2>
  </div>
</div>
<div class="row justify-content-center my-3">
  <div class="col-12 col-sm-5 shadow text-center">
    <a href="tel:+972506398894" class="btn btn-lg text-white"
      ><p>050-6398894 - <fa-icon [icon]="faPhone" class="text-primary"></fa-icon></p
    ></a>
  </div>
</div>
<div class="row justify-content-center my-3">
  <div class="col-12 col-sm-5 shadow text-center">
    <a href="mailto:dat.dvi@gmail.com" class="btn btn-lg text-white"
    ><p>dat.dvi@gmail.com - <fa-icon [icon]="faEnvelope" class="text-primary"></fa-icon></p
  ></a>
  </div>
</div>
<div class="row justify-content-center my-3">
  <div class="col-12 col-sm-5 shadow text-center">
    <a href="https://www.linkedin.com/in/dvir-datner" target="blank" class="btn btn-lg text-white"
    ><p>My LinkedIn Profile - <fa-icon [icon]="faLinkedinIn" class="text-primary"></fa-icon></p
  ></a>
  </div>
</div>
