<div class="row justify-content-center my-3">
  <div class="col-12 text-center">
    <h2 class="text-primary">My Skills</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <h5 class="text-primary">Frameworks:</h5>
  </div>
  <div
    class="col-3 col-sm-2 col-xl-1 text-center"
    *ngFor="let skill of frameworksSkills"
  >
    <img src="{{ skill.imgSrc }}" alt="{{ skill.title }}" />
    <p class="text-outline">{{ skill.title }}</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <h5 class="text-primary">Languages:</h5>
  </div>
  <div
    class="col-3 col-sm-2 col-xl-1 text-center"
    *ngFor="let skill of languagesSkills"
  >
    <img src="{{ skill.imgSrc }}" alt="{{ skill.title }}" />
    <p class="text-outline">{{ skill.title }}</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <h5 class="text-primary">Databases:</h5>
  </div>
  <div
    class="col-3 col-sm-2 col-xl-1 text-center"
    *ngFor="let skill of databasesSkills"
  >
    <img src="{{ skill.imgSrc }}" alt="{{ skill.title }}" />
    <p class="text-outline">{{ skill.title }}</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <h5 class="text-primary">Tools:</h5>
  </div>
  <div
    class="col-3 col-sm-2 col-xl-1 text-center"
    *ngFor="let skill of toolsSkills"
  >
    <img src="{{ skill.imgSrc }}" alt="{{ skill.title }}" />
    <p class="text-outline">{{ skill.title }}</p>
  </div>
</div>
