<div class="row justify-content-center my-5 center" style="min-height: 100vh">
  <div class="col-12 col-lg-6 order-2 order-lg-1">
    <img
      class="main-photo"
      src="assets/images/main-photo.png"
      alt="Dvir Datner"
    />
  </div>
  <div class="col-12 col-lg-6 order-1 order-lg-2 my-lg-5">
    <h2 class="text-primary">
      Hi. My name is <strong class="text-white">Dvir Datner</strong> and I'm a
    </h2>
    <h2 class="text-primary">
      <strong class="text-white">{{ position }} Developer</strong>
    </h2>
  </div>
</div>
